[Unit]
Description=Take photos & Post to the monitor
After=rc-local.service

[Service]
ExecStart=
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run/view.pid

[Install]
WantedBy=multi-user.target

